<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- Enable all requests, inline styles, and eval() -->
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- movuino bluetooth js -->
    <script src="js/mvble.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="mvble-controller">

    <ion-nav-view></ion-nav-view>

    <script id='ble-disconnected.html' type='text/ng-template'>
        <ion-view title="Scan">
            <ion-content>

            <button ng-click="scan()" class="button button-block button-positive">
                Scan
            </button>

            <div class="list">
                <div ng-repeat="device in devices" class="item item-button-right">
                    <h2>{{device.name}}</h2>
                    <p>Address: {{device.id}}</p>
                    <p>Rssi: {{device.rssi}}</p>
                    <button ng-click="connect({{device}})" class="button button-positive">
                        Connect
                    </button>
                </div>
            </div>

            </ion-content>
        </ion-view>
    </script>

    <script id='ble-connected.html' type='text/ng-template'>
        <ion-view title="Console">

            <div class="bar bar-header">
                <div class="button-bar">
                    <a ng-click="disconnect()" class="button button-positive">Disconnect</a>
                    <a ng-click="clearRxBuff()" class="button button-positive">Clear</a>
                </div>
            </div>

            <ion-content class="has-header has-footer">
            <pre>{{rxBuff.join("")}}</pre>
            </ion-content>

            <form>
            <div class="bar bar-footer bar-positive item-input-inset footer-item-input-insert" >
                <label class="item-input-wrapper">
                    <input type="text" ng-model="inputCommand.text">
                </label>
                <button class="button button-small button-light" ng-click="send()">
                    Send
                </button>
            </div>
            </form>

        </ion-view>
    </script>

  </body>

</html>

